* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #444;
  /* color: #444; */

  border-top: 10px solid #1098ad;
}

h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

.navigation {
}
.container {
  width: 800px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;

  position: relative;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 30px;
  margin-bottom: 30px;
}

h2 {
  position: relative;
}

h2::after {
  content: "TOP";
  background-color: #ffe70e;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -11px;
  right: -25px;
}

h3 {
  font-size: 25px;
  margin-bottom: 20px;
  margin-top: 30px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
  margin-bottom: 20px;
}

ul,
ol {
  margin-left: 50px;
}
li {
  font-size: 20px;
  margin-bottom: 10px;
}
li:last-child {
  margin-bottom: 0;
}

#copyright {
  font-size: 16px;
}

.author {
  font-style: italic;
  font-family: sans-serif;
  margin-bottom: 20px;
}

.related-author {
  font-size: 16px;
  font-weight: bold;
}

.author-description {
  display: inline-block;
}

.list-items {
  list-style: none;
}

.main-header {
  background-color: #f7f7f7;
  /* padding: 20px;
  padding-left: 40px;
  padding-right: 40px; */
  padding: 20px 40px;
  margin-bottom: 60px;
  height: 100px;
}
.main-header nav a {
  font-size: 18px;
  color: #1098ad;
  font-weight: bold;
  margin: 18px;
  display: inline-block;
}
article {
  margin-bottom: 60px;
}

.post-header {
  margin-bottom: 40px;
}
aside {
  background-color: #f7f7f7;
  border-top: solid 5px #1098ad;
  border-bottom: solid 5px #1098ad;
  /* padding-top: 50px;
  padding-bottom: 50px; */
  padding: 50px 0;
  width: 500px;
}
aside p {
  font-size: 14px;
  font-weight: lighter;
  font-style: italic;
}

li:first-child {
  font-weight: bold;
}

/* Styling the links */
a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline dotted orangered;
}
a:active {
  background-color: #000;
  font-style: italic;
}

/* LVHA */

.post-image img {
  width: 100%;
  height: auto;
}

button {
  font-size: 18px;
  padding: 18px;
  color: #ff0000;

  position: absolute;
  /* top: 0;
  left: 0; */
  bottom: 50px;
  right: 50px;
}

/* .button {
  background-color: #1098ad;
  height: 30px;
  width: 100px;
  border-radius: 100px;
  cursor: pointer;
  color: #f7f7f7;
  border: none;
  box-shadow: 5px 5px 3px #c3c3c3f0;
} */
