* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d1b74f;
  font-family: "Roboto", sans-serif;
}

#demo {
  text-align: center;
  margin-top: 20%;
  font-size: 50px;
}

button {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  display: block;
  text-align: center;
  margin: 20px auto;
  padding: 15px 30px;
  cursor: pointer;
  border: none;
  background-color: #adff2f;
  font-weight: bold;
  border-radius: 3px;
  text-transform: uppercase;
}
